@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(50, 50, 50);
<<<<<<< Updated upstream
=======
    font-weight: 450;
    padding: 0px;
    margin: 0px;
>>>>>>> Stashed changes
}

.cart-container {
    max-width: calc(80%);
    max-height: calc(80%);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 25px;
    background-color:rgb(34, 34, 34);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-header {
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(50, 50, 50);
    color: #45E3FC;
    padding: 10px;
    border-radius: 25px;
}

.cart-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-details {
    margin: auto;
<<<<<<< Updated upstream
    flex: 0 0 calc(50% - 50px);
=======
    flex: 0 0 calc(60% - 40px);
>>>>>>> Stashed changes
    background-color: rgb(50, 50, 50);
    padding: 20px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 25px;
}
<<<<<<< Updated upstream
=======
.cart-details > h2{
    text-align: center;
}

.name-product{
    font-size: 15px;
    margin: 0px;
    margin-top: 7px;
    padding: 0px;
}
.type-product{
    font-size: 12px;
    font-style: inherit;
    color: rgb(50, 50, 50);
    padding: 0px;
    margin: 5px 0px;
}
.desc-product{
    font-size: 12px;
    padding: 0px;
    margin: 5px 0px;
}
.price-product{
    font-size: 16px;
    padding: 0px;
    margin: 5px 0px;
}

>>>>>>> Stashed changes

.order-summary p {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    color: #45E3FC;
    background-color: #02172e;
    padding: 10px;
    border-radius: 25px;
}

h2 {
    color: #45E3FC;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #696969;
}
th, td {
<<<<<<< Updated upstream
    border: 2px solid #45E3FC;
=======
    border: 1px solid #7c9092;
>>>>>>> Stashed changes
    text-align: left;
    padding: 8px;
}
th {
    background-color: #696969;
    color: #e91e63;
}

.checkout-button {
    display: inline-block;
    align-items: flex-end;
    
    margin-left: 85%;
    padding: 10px 20px;
    background-color: #45E3FC;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.checkout-button:hover {
    background-color: #37b8cc;
}

.back-button {
    display: inline-block;
    align-items: flex-end;
    margin-top: 1%;
    margin-right: 85%;
    padding: 10px 20px;
    background-color: #45E3FC;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.back-button:hover {
    background-color: #37b8cc;
}

<<<<<<< Updated upstream
=======

.cart-info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
>>>>>>> Stashed changes
