@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(50, 50, 50); 
}
.confirm-container {
    width: 500px;
    text-align: center;
}

.text {
    font-size: 30px;
    color: #45E3FC;
}

.gotohome-button {
    display: inline-block;
    margin-top: 7%;
    padding: 10px 20px;
    background-color: #45E3FC;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.gotohome-button:hover {
    background-color: #37b8cc;
}